@import "tailwindcss";


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;

    --primary: #100e0e;
    --secondary: #787f8a;
    --accent: {
      DEFAULT: #c7a17a;
      hover: #a08161;
    };
  }
}

@layer base {
  body {
    font-family: var(--font-open-sans);
    line-height: 1.5;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-cormorant-upright);
  }
  .font-cormorant {
    font-family: var(--font-cormorant-upright);
  }
  .h1{
    @apply text-[60px] md:text-[100px] leading-[1.1] font-semibold;
  }
  .h2{
    @apply text-[56px] md:text-[80px] leading-[1.2] font-bold;
  }
  .lead {
    @apply text-lg;
  }
  .btn{
    @apply min-w-[156px] h-[54px] bg-[#c7a17a] hover:bg-[#a08161] text-[#ffffff] text-[13px] uppercase font-semibold
    tracking-[.15em] transition-all rounded-md cursor-pointer border-2 border-[#ffffff] hover:border-[#c7a17a] hover:text-[#ffffff];
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  @apply text-[#c7a17a] !text-[2rem];
}
